/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
          appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
          appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #FFF;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

header {
  border: 1px solid #ECECEC;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.btn_blue {
  color: var(--c-white);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: none;
}

.link {
  text-decoration: none;
  color: var(--basic-color);
}

.section-title {
  color: var(--basic-color);
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1785;
  text-align: center;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .section-title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.1666;
  }
}

.picture {
  display: block;
  width: 100%;
  height: auto;
}

:root {
  --dark-background: #2F303A;
  --primary-color: #212121;
  --secondary-color: #757575;
  --brand-color: #2196F3;
  --light-color: #FFF;
  --bg-color: #F5F4FA;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 93px;
}
@media screen and (max-width: 767px) {
  .navbar {
    display: none;
  }
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
@media screen and (max-width: 767px) {
  .contacts {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 30px;
  }
}

.current {
  color: var(--brand-color);
}
.current::after {
  content: "";
  position: relative;
  top: 33px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196F3;
  border-radius: 2px;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 60px;
  }
}
@media screen and (min-width: 768px) {
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.btn_blue {
  color: var(--c-white);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: none;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  font-family: "Raleway";
  font-size: 26px;
  color: #001;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo_link {
  color: black;
}

.logo__part {
  color: var(--brand-color);
}

.contacts__item:last-child {
  padding-right: 0;
}

.navbar__item {
  padding-top: 32px;
  padding-bottom: 32px;
  margin-right: 50px;
}
.navbar__item:last-child {
  margin-right: 0;
}

.navbar__link {
  display: block;
  color: var(--primary-color);
  font-weight: 500;
  line-height: 1;
  font-size: 14px;
  letter-spacing: 0.02em;
}
.navbar__link:hover, .navbar__link:focus {
  color: var(--brand-color);
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

.icon-smartphone,
.icon-mail {
  fill: currentColor;
}

.navbar__item .active_page {
  color: var(--brand-color);
}

.contacts__link {
  color: var(--secondary-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--brand-color);
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.section {
  padding: 94px 0;
}
@media screen and (max-width: 1200px) {
  .section {
    padding: 60px 0;
  }
}

.uppersite {
  background-color: #2F303A;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/bcg-img-mobile.jpeg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/bcg-img-mobile.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1600px;
  margin: 0 auto;
  padding: 200px 0;
}
@media screen and (max-width: 1200px) {
  .uppersite {
    padding: 118px 0;
  }
}
@media (min-device-pixel-ratio: 2) and (max-width: 768px), (-webkit-min-device-pixel-ratio: 2) and (max-width: 768px), (min-resolution: 192dpi) and (max-width: 768px), (min-resolution: 2dppx) and (max-width: 768px) {
  .uppersite {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/bcg-img-mobile@2x.jpeg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/bcg-img-mobile@2x.jpeg);
  }
}
@media screen and (min-width: 768px) {
  .uppersite {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/bcg-img-tablet.jpeg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/bcg-img-tablet.jpeg);
  }
}
@media (min-device-pixel-ratio: 2) and (min-width: 768px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px), (min-resolution: 192dpi) and (min-width: 768px), (min-resolution: 2dppx) and (min-width: 768px) {
  .uppersite {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/bcg-img-tablet@2x.jpeg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/bcg-img-tablet@2x.jpeg);
  }
}
@media screen and (min-width: 1024px) {
  .uppersite {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/bcg-main.jpeg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/bcg-main.jpeg);
  }
}
@media (min-device-pixel-ratio: 2) and (min-width: 1024px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 1024px), (min-resolution: 192dpi) and (min-width: 1024px), (min-resolution: 2dppx) and (min-width: 1024px) {
  .uppersite {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/bcg-main@2x.jpeg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/bcg-main@2x.jpeg);
  }
}

.modal-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 1;
  z-index: 2;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  max-width: 528px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  background: var(--light-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-wrap.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  height: 30px;
  margin-left: auto;
  margin-bottom: auto;
  border-radius: 50%;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.form {
  width: 450px;
  height: 609px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
}
@media screen and (min-width: 1200px) {
  .form {
    width: 528px;
    height: 581px;
  }
}

.form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-color);
  margin-bottom: 12px;
}

.form__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.input-icon {
  position: absolute;
  top: 36%;
  left: 13px;
  -webkit-transform: translateY(25%);
          transform: translateY(25%);
  display: inline-block;
  width: 18px;
  height: 18px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

#comment {
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  height: 120px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

#commect::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

#commect::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

#commect:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

#commect::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

#commect::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

#comment:focus {
  outline: none;
  border: 1px solid var(--brand-color);
}

.form__input {
  margin: 0;
  padding: 11px 42px;
  margin-bottom: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:focus {
  border: 1px solid var(--brand-color);
  outline: none;
}

.form__input:focus + svg {
  fill: var(--brand-color);
}

.form__label {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--secondary-color);
  margin-bottom: 4px;
}

.privacy__label {
  position: relative;
  margin-left: 38px;
}
.privacy__label::before {
  cursor: pointer;
  display: inline-block;
  content: "";
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 1px solid var(--secondary-color);
  border-radius: 2px;
  position: absolute;
  left: -25px;
  top: 1px;
}

.privacy__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  outline: none;
}

.privacy {
  font-size: 14px;
  line-height: 1.7142;
  letter-spacing: 0.03em;
  margin-top: 20px;
  color: var(--secondary-color);
}

.privacy__input:checked + label::before {
  background-color: var(--brand-color);
  background-image: url(../img/features-img/check.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid var(--brand-color);
}

.privacy__input:focus + label::before {
  background-image: url(../img/features-img/check.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid var(--brand-color);
  outline: 1px solid var(--primary-color);
}

.privacy__input:checked:focus + label::before {
  background-image: url(../img/features-img/check.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid var(--brand-color);
  outline: 1px solid var(--primary-color);
}

.privacy__label {
  margin-left: 25px;
  display: inline-block;
  font-size: 12px;
}
@media screen and (min-width: 1200px) {
  .privacy__label {
    font-size: 14px;
  }
}

.privacy__btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 56px;
  margin: 0 auto;
  color: var(--light-color);
  background-color: var(--brand-color);
  border-radius: 4px;
  border-style: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  text-decoration: none;
  margin-top: 30px;
}

.privacy__link {
  text-decoration: underline;
  color: var(--brand-color);
  font-size: 12px;
}
@media screen and (min-width: 1200px) {
  .privacy__link {
    font-size: 14px;
  }
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}
.menu-toggle:hover {
  fill: var(--brand-color);
}
.menu-toggle:focus {
  fill: var(--brand-color);
}
@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #FFFFFF;
  padding: 48px 40px;
  z-index: 999;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.mobile-nav__list {
  color: var(--basic-color);
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  display: block;
}
.mobile-nav__item:not(:last-child) {
  margin-bottom: 32px;
}
.mobile-nav__link--current {
  color: var(--brand-color);
}

.mobile-contact__list {
  margin-bottom: 64px;
}
.mobile-contact__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--brand-color);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
}
.mobile-social__link {
  color: var(--brand-color);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  padding: 0 10px;
}
.mobile-social__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-tel__link {
  color: var(--brand-color);
  font-weight: 500;
  font-size: 34px;
  line-height: 1.1764;
  letter-spacing: 0.02em;
}

.mobile-mail__link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1666;
  letter-spacing: 0.02em;
}

.button-burger {
  background-color: transparent;
  border: 0;
  margin: 10px 15px;
}
@media screen and (min-width: 768px) {
  .button-burger {
    display: none;
  }
}

.button-close-burger {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: transparent;
  border: 0;
}

.site_header {
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 360px;
  color: #FFFFFF;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6153;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .site_header {
    font-size: 44px;
    line-height: 1.36;
    max-width: 670px;
  }
}

.frst_btn {
  display: block;
  width: 216px;
  height: 50px;
  background: var(--brand-color);
  font-weight: 700;
  font-size: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--light-color);
  margin: 0 auto;
  border-radius: 4px;
  border-style: none;
  margin-top: 30px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.frst_btn:active {
  background-color: #188CE8;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.social__link--team {
  border-radius: 100px;
  padding: 12px;
  display: block;
  color: #AFB1B8;
}
.social__link--team:hover, .social__link--team:focus {
  background-color: var(--brand-color);
  color: var(--light-color);
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

.icon {
  fill: currentColor;
  display: block;
}

.icon-smartphone,
.icon-mail {
  margin-right: 10px;
}

@media screen and (min-width: 768px) {
  .features__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.features__list {
  max-width: 450px;
}
.features__list:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .features__list:not(:last-child) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .features__list {
    max-width: 354px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .features__list {
    max-width: 270px;
  }
}

.features__title {
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-colors);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 768px) {
  .features__title {
    display: block;
  }
}

.features__description {
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  padding-top: 10px;
  text-align: left;
}

.features__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var(--bg-color);
  row-gap: 30px;
  padding: 25px 100px;
}

.our-projects {
  padding-top: 0;
}
@media screen and (max-width: 1199px) {
  .our-projects {
    display: none;
  }
}

.our_projects__title {
  font-size: 36px;
  line-height: 1;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-color);
  margin-bottom: 50px;
}

.project__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.project__list img {
  display: block;
}

.project__item {
  display: inline;
  margin-right: 30px;
  position: relative;
}

.project__description {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  background: rgba(47, 48, 58, 0.8);
  position: absolute;
  padding: 27px 0;
  width: 100%;
  left: 0;
  bottom: 0;
}

.project__item:last-child {
  margin-right: 0;
}

.our-team {
  background-color: var(--bg-color);
  text-align: center;
}

.card-list__item {
  background-color: var(--light-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .card-list__item {
    padding-bottom: 30px;
    gap: 30px;
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
  }
}
@media screen and (max-width: 1199px) {
  .card-list__item {
    padding-bottom: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .card-list__item {
    -ms-flex-preferred-size: calc((100% - 120px) / 4);
        flex-basis: calc((100% - 120px) / 4);
  }
}

.card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 768px) {
  .card-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 50px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .card-list {
    margin-top: 30px;
  }
}

.card-list__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-color);
  margin-top: 30px;
}

.card-list__description {
  font-size: 16px;
  line-height: 1;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  margin-top: 10px;
  margin-bottom: 16px;
}

.partners-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.partners-link {
  width: 210px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  color: #AFB1B8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.partners-link:hover, .partners-link:focus {
  border: 1px solid var(--brand-color);
  color: var(--brand-color);
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}
@media screen and (min-width: 768px) {
  .partners-link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .partners-link {
    width: 170px;
  }
}

footer {
  background-color: var(--dark-background);
  padding-left: 215px;
  padding: 60px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer a {
  display: block;
}

.footer-logo {
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1;
  letter-spacing: 0.03em;
  color: var(--light-color);
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 60px 185px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
@media screen and (min-width: 1200px) {
  .footer {
    gap: 0;
  }
}

.footer-logo span {
  color: var(--brand-color);
}

address a {
  clear: left;
}

.address_logo {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .address_logo {
    text-align: left;
  }
}

.address {
  font-style: normal;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: var(--light-color);
  margin-top: 20px;
}
.address:hover, .address:focus {
  color: var(--brand-color);
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

.footer-mail,
.footer-tel {
  font-style: normal;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 9px;
}
.footer-mail:hover, .footer-mail:focus,
.footer-tel:hover,
.footer-tel:focus {
  color: var(--brand-color);
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

.footer-header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-left: 5px;
  color: var(--light-color);
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer-header {
    text-align: left;
  }
}

.footer-media {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 1200px) {
  .footer-media {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin-right: 70px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-social {
    margin-right: 93px;
  }
}

.footer-social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  fill: var(--white-text-color);
  background-color: rgba(255, 255, 255, 0.1);
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
  border-radius: 50%;
  background-position: 50% 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--light-color);
}
.footer-social__link:hover, .footer-social__link:focus {
  background-color: var(--brand-color);
  color: var(--light-color);
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

.footer-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.footer-submit__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light-color);
  margin-bottom: 10px;
  padding: 14px 0px 10px 0px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer-submit__text {
    text-align: left;
  }
}

.footer-submit__input {
  padding: 13px 16px;
  background-color: var(--dark-background);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
@media screen and (min-width: 1200px) {
  .footer-submit__input {
    width: 358px;
  }
}

.footer-submit__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 1200px) {
  .footer-submit__form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.footer-submit__btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 0.06em;
  background: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-style: none;
  color: var(--light-color);
  width: 200px;
  height: 50px;
  margin: 0 auto;
}
.footer-submit__btn::after {
  content: "";
  display: inline-block;
  width: 24px;
  height: 20px;
  background-image: url(../img/features-img/telegram.svg);
  margin-left: 10px;
}

.footer-submit {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .footer-submit {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-submit {
    width: auto;
  }
}

.portfolio_cards {
  min-height: 1360px;
  /* padding: 94px 0; */
}

.button__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
}

.filter__btn {
  font-family: inherit;
  color: var(--primary-color);
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  padding: 6px 22px;
}
.filter__btn:hover,
.filter__btn :focus {
  color: var(--light-color);
  background-color: var(--brand-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

.portfolio_list {
  margin-top: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.portfolio-link:hover,
.portfolio-link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

.port_list_item {
  width: 370px;
  height: 404px;
}

.port-title h2 {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-color);
  margin-bottom: 4px;
}

.port-title p {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.port-title {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.port_list_item img {
  display: block;
}

.img_wraper {
  position: relative;
  overflow: hidden;
}

.portfolio-massage {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  padding: 63px 24px;
  color: var(--light-color);
  background-color: rgba(33, 150, 243, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover .portfolio-massage,
.portfolio-link:focus .portfolio-massage {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}/*# sourceMappingURL=main.css.map */