.site_header {
        margin-top: 0;
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
        max-width: 360px;
        color: #FFFFFF;
        font-weight: 900;
        font-size: 26px;
        line-height: 1.6153;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        @media screen and(min-width: 1200px) {
            font-size: 44px;
            line-height: 1.36;
            max-width: 670px;

        }
    }


.frst_btn {
    display: block;
    width: 216px;
    height: 50px;
    background: var(--brand-color);
    font-weight: 700;
    font-size: 16px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--light-color);
    margin: 0 auto;
    border-radius: 4px;
    border-style: none;
    margin-top: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    &:active {
            background-color: #188CE8;
    }
}
